<div class="flex flex-column bg-light inner-glow shadow-sm shadow-ring padding-md radius-lg overflow-hidden">
  <div class="margin-bottom-md">
    <h3>I have a dream</h3>

    <p class="color-contrast-medium margin-y-xs line-height-md">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia minus culpa commodi.</p>

    <div class="flex flex-wrap gap-xs">
      <a class="btn btn--subtle" href='#0'>Learn more</a>
      <a class="btn btn--primary" href='#0'>Buy</a>
    </div>
  </div>

<figure class="margin-top-auto">
    <img src={{ 'potions-header.png' | file_img_url }} alt="Potions Header" width="500" height="300">
</figure>
</div>